# cst constraint descriptor for esterase active site featuring a 
# a ser/his/asp catalytic triad and a backbone oxyanion hole



#block 1 for serine interacting with substrate

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: C9 O8 O4
  TEMPLATE::   ATOM_MAP: 1 residue3: 2PE

  TEMPLATE::   ATOM_MAP: 2 atom_name: OG
  TEMPLATE::   ATOM_MAP: 2 residue1: S 
 
  CONSTRAINT:: distanceAB:    1.85   0.20 100000.00  0
CST::END

#block 2 for serine interacting with histidine

CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_name: HG
  TEMPLATE::   ATOM_MAP: 1 residue1: S

  TEMPLATE::   ATOM_MAP: 2 atom_type: Nhis ,
  TEMPLATE::   ATOM_MAP: 2 residue1: H 
 
  CONSTRAINT:: distanceAB:    1.25   0.20 500.00  0
CST::END

#block 3 for histidine interacting with aspartate

CST::BEGIN  
  TEMPLATE::   ATOM_MAP: 1 atom_type: Hpol ,
  TEMPLATE::   ATOM_MAP: 1 residue1: H

  TEMPLATE::   ATOM_MAP: 2 atom_type: OOC ,
  TEMPLATE::   ATOM_MAP: 2 residue1: D 
 
  CONSTRAINT:: distanceAB:    1.80   0.40 500.00  0
CST::END

#block 4 for bb-H oxyanion hole 1

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O8 C9 O4
  TEMPLATE::   ATOM_MAP: 1 residue3: 2PE

  TEMPLATE::   ATOM_MAP: 2 atom_type: HNbb ,
  TEMPLATE::   ATOM_MAP: 2 residue1: MGY

  CONSTRAINT:: distanceAB:    1.90   0.50 100.00  0
  CONSTRAINT::    angle_A:  135.00  40.00 100.00  360.00
CST::END


#block 5 for bb-H oxyanion hole 2

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: O8 C9 O4
  TEMPLATE::   ATOM_MAP: 1 residue3: 2PE

  TEMPLATE::   ATOM_MAP: 2 atom_type: HNbb ,
  TEMPLATE::   ATOM_MAP: 2 residue1: FY

  CONSTRAINT:: distanceAB:    1.80   0.50 100.00  0
  CONSTRAINT::    angle_A:  135.00  40.00 100.00  360.00
CST::END